<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Show Page</title>
</head>
<body>
    <h1><%= fruit.name %></h1>
        <nav>
            <li>
                <a href="/fruits">Back to Fruits</a>
            </li>
        </nav>
    <% if (fruit.isReadyToEat) { %>
        <p>this fruit is ready to eat!</p>
        <% }else { %>
            <p>this fruit is not ready to eat!</p>
        <% } %>
</body>

</html>